{% extends "base.html" %}
{% block content %}
    <h1>Tools</h1>
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% else %}
                <span class="badge badge-info">Info</span> Data will fill this area once a tool is run.
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}